nav {
  background-color: var(--primary-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.logo-navbar {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}