<main id="menu-container">
  <app-header/>
  <div class="menu-body">
    <app-separator/>
    <app-menu-item [imgLink]="'../../assets/imgs/logo.jpg'" [menuTitle]="'Chilaquiles'" [menuPrice]="'$115'">
      <div body>
        <h4>Totopos de maiz, salsa roja o verde, frijol refrito, crema, queso panela y cebolla morada.</h4>
        <h4>Con huevo: $125</h4>
        <h4>Con longaniza: $145</h4>
        <h4>Con pechuga de pollo: $150</h4>
        <h4>Con arrachera: $155</h4>
      </div>
    </app-menu-item>
  </div>
</main>