:root {
  --background-color: #FFFF;
  --text-color: #050315;
  --primary-color: #DBA979;
  --primary-color-light: #f8cfa5;
  --secundary-color: #ECCA9C;
  --secundary-color-light: #DBDDC5;
  --accent: #6d9552;
}

@font-face {
  font-family: 'Drukaatie Burti';
  src: url('./assets/fonts/drukaatieBurti/DrukaatieBurti-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neucha';
  src: url('./assets/fonts/neucha/neucha-latin-400-normal.woff2') format('woff2'),
       url('./assets/fonts/neucha/neucha-latin-400-normal.woff') format('woff'),
       url('./assets/fonts/neucha/neucha-latin-400-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neucha';
  src: url('./assets/fonts/neucha/neucha-latin-400-normal.woff2') format('woff2'),
       url('./assets/fonts/neucha/neucha-latin-400-normal.woff') format('woff'),
       url('./assets/fonts/neucha/neucha-latin-400-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General declarations */
h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

p {font-size: 1.333rem; /* 21.28px */}

small {font-size: 1rem; /* 12px */}

.icon-text {width: 1rem; /* 21.28px */}

*{
  font-family: 'Neucha';
  margin: 0;
  padding: 0;
}

.title-font {
  font-family: 'Drukaatie Burti';
  color: var(--accent);
}

.mi-margin-top .swal2-image {
  margin-top: 50px;
}

/* MEDIA QUERYS */

/* Adjustments for mobile devices */
@media (max-width: 768px) {
  h1 { font-size: 2.500rem; /* Adjusted for mobile */ }
  h2 { font-size: 1.875rem; /* Adjusted for mobile */ }
  h3 { font-size: 1.400rem; /* Adjusted for mobile */ }
  h4 { font-size: 1.050rem; /* Adjusted for mobile */ }
  p { font-size: 0.800rem; /* Adjusted for mobile */ }
  .icon-text { width: 0.700rem; /* Adjusted for mobile */ }
  small { font-size: 0.700rem; /* Adjusted for mobile */ }
}

/* Further adjustments for small screens */
@media (max-width: 480px) {
  h1 { font-size: 1.800rem; /* Further adjusted for very small screens */ }
  h2 { font-size: 1.350rem; /* Further adjusted for very small screens */ }
  h3 { font-size: 1.025rem; /* Further adjusted for very small screens */ }
  h4 { font-size: 0.800rem; /* Further adjusted for very small screens */ }
  p { font-size: 0.700rem; /* Further adjusted for very small screens */ }
  .icon-text { width: 0.600rem; /* Further adjusted for very small screens */ }
  small { font-size: 0.600rem; /* Further adjusted for very small screens */ }
}

/* Further adjustments for very small screens */
@media (max-width: 350px) {
  .logo-aroma {
    width: 7rem !important;
  }

  .btn-item {
    padding: .3rem 1.7rem !important;
  }
}