<div class="menu-item-container">
    <div class="title-item">
        <h2 class="subtitle-font" (click)="openImage(imgLink)">{{menuTitle}}</h2>
        <h2>{{menuPrice}}</h2>
    </div>
    <ng-content select="[body]"></ng-content>
    <div class="footer-item">
        @if (hasGuarniciones) {
            <button (click)="openGuarnicion()" class="btn-item"><h4>Guarniciones</h4></button>
        }
        @if(hasExtras){
            <button (click)="openExtras()" class="btn-item"><h4>Extras</h4></button>
        }
    </div>
</div>